body.mainbody {
  background-color: #fffaf1;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 0;
}

a.nav-link {
  color: #212529;
}

a {
  color: #212529;
}

form div {
  margin: 1em;
  display: inline-block;
}

.bg-yellow {
  background-color: gold;
}

.albumsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 1em;
}

.media {
  margin-left: 2em;
}

.create-account {
  margin-left: 0;
}

.btn.btn-link {
  padding: 0;
  margin: 0;
  border: 0;
  font-weight: 500;
  font-size: 1em;
  color: #212529;
}

a.dropdown-item.active {
  background-color: #212529;
}

.welcome-container {
  display: flex;
  flex-direction: row;
}

.welcome-logo {
  max-width: 99%;
  height: auto;
  padding-right: 4em;
}

.single-album-body {
  margin-left: 2em;
}

.loading-image {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 360px;
  height: 360px;
  margin: -60px 0 0 -60px;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rounded-circle {
  width: 15%;
  height: 15%;
}

.collection.btn.btn-dark {
  margin-top: 4px;
}

.btn.btn-outline-warning.btn-sm {
  margin-left: 1em;
}

.collection-list.btn-sm.btn-outline-dark {
  height: 50%;
  margin-left: 1em;
  margin-top: 2em;
}

.collection-list.btn.btn-outline-warning {
  height: 50%;
  margin-left: 1em;
  margin-top: 2em;
}

.navbar-brand {
  color: #212529;
}
