body.mainbody {
  background-color: #fffaf1;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 0;
}

a.nav-link {
  color: #212529;
}

a {
  color: #212529;
}

form div {
  margin: 1em;
  display: inline-block;
}

.bg-yellow {
  background-color: gold;
}

.albumsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 1em;
}

.media {
  margin-left: 2em;
}

h1 {
  margin-left: 30px;
}

.create-account {
  margin-left: 0;
}

.btn.btn-link {
  padding: 0;
  margin: 0;
  border: 0;
  font-weight: 500;
  font-size: 1em;
  color: #212529;
}

a.dropdown-item.active {
  background-color: #212529;
}

.welcome-container {
  display: flex;
  flex-direction: row;
}

.welcome-logo {
  max-width: 90%;
  height: auto;
}
