body.mainbody {
  background-color: #fffaf1;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 0;
}

a.nav-link {
  color: #212529;
}

form div {
  margin: 1em;
  display: inline-block;
}

.bg-yellow {
  background-color: gold;
}

.albumsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 1em;
}
